{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'x-section-countdown.css' | asset_url | stylesheet_tag }}

<script src="{{ 'multisource-video.js' | asset_url }}" defer="defer"></script>

{%- if section.settings.video_mobile != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.video_mobile.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.video_desktop.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- elsif section.settings.image_height == 'adapt' and section.settings.image_desktop != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image_mobile.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image_desktop.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{% comment %}
  {%- liquid
    # assign full_width = '100vw'
    # assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

    if section.settings.image_behavior == 'ambient'
      # assign half_width = '60vw'
      # assign full_width = '120vw'
      # assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
      # assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
    elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
      # assign half_width = '100vw'
      # assign stacked_sizes = '100vw'
    else
      # assign half_width = '50vw'
      # assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
    endif
    # assign fetch_priority = 'auto'
    if section.index == 1
      # assign fetch_priority = 'high'
    endif
  -%}
{% endcomment %}

<div class="page-width">
  <div
    id="Banner-{{ section.id }}"
    class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
  >
    {% if section.settings.banner_link != blank %}
      {%- capture banner_link -%}
        <a href="{{ section.settings.banner_link }}" class="banner__link"></a>
      {%- endcapture -%}
    {% endif %}
    {%- if section.settings.video_mobile != blank -%}
      <div class="banner__media media{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ banner_link }}
        <multisource-video
          data-url-mobile="{{ section.settings.video_mobile.sources[1].url }}"
          data-url-desktop="{{ section.settings.video_desktop.sources[1].url }}"
        >
          {{
            section.settings.video_mobile
            | video_tag: image_size: '400x', muted: true, autoplay: true, loop: true, controls: false
          }}
        </multisource-video>
      </div>
    {%- elsif section.settings.image_desktop != blank -%}
      <div class="banner__media media{% if section.settings.image_desktop == blank and section.settings.image_mobile == blank %} placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ banner_link }}
        <picture>
          <source
            srcset="{{ section.settings.image_mobile | image_url: width: section.settings.image_mobile.width }}"
            media="(max-width: 749px)"
          >
          {{
            section.settings.image_desktop
            | image_url: width: section.settings.image_desktop.width
            | image_tag: loading: 'lazy'
          }}
        </picture>
      </div>
    {%- endif -%}
    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="banner__heading inline-richtext {{ block.settings.heading_size }}"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'text' -%}
              <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                <p>{{ block.settings.text }}</p>
              </div>

            {%- when 'timer' -%}
              {% assign custom_date = block.settings.date | append: 'T23:59:59' %}
              <div>
                <div class="timer-{{ block.id }} component-timer__wrapper" id="timercount-{{ block.id }}">
                  <div class="count-{{ block.id }} component-timer__item">
                    <span
                      id="days-{{ block.id }}"
                      class="l-font-{{ block.settings.number_size }} component-timer__number"
                      >--</span
                    >
                    <span class="timer-clock">Days</span>
                  </div>
                  <div class="count-{{ block.id }} component-timer__item">
                    <span
                      id="hours-{{ block.id }}"
                      class="l-font-{{ block.settings.number_size }} component-timer__number"
                      >--</span
                    >
                    <span class="timer-clock">Hours</span>
                  </div>
                  <div class="count-{{ block.id }} component-timer__item">
                    <span
                      id="minutes-{{ block.id }}"
                      class="l-font-{{ block.settings.number_size }} component-timer__number"
                      >--</span
                    >
                    <span class="timer-clock">Minutes</span>
                  </div>
                  <div class="count-{{ block.id }} component-timer__item">
                    <span
                      id="seconds-{{ block.id }}"
                      class="l-font-{{ block.settings.number_size }} component-timer__number"
                      >--</span
                    >
                    <span class="timer-clock">Seconds</span>
                  </div>
                </div>
                <div
                  class="expired component-timer__expired"
                  style="font-size:{{ block.settings.message_size }}px;"
                  id="expired-{{ block.id }}"
                >
                  {{ block.settings.message }}
                </div>
              </div>
              <script>
                // Set the target date for the timercount (YYYY-MM-DD format)
                const targetDate = new Date('{{custom_date}}');

                // Function to update the timercount
                function updatetimercount() {
                  const now = new Date();
                  const timeDifference = targetDate - now;

                  if (timeDifference > 0) {
                    const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                    const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                    const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

                    // Display the timercount
                    document.getElementById('days-{{ block.id }}').innerHTML = `${days}`;
                    document.getElementById('hours-{{ block.id }}').innerHTML = `${hours}`;
                    document.getElementById('minutes-{{ block.id }}').innerHTML = `${minutes}`;
                    document.getElementById('seconds-{{ block.id }}').innerHTML = `${seconds}`;

                    // Update every second
                    setTimeout(updatetimercount, 1000);
                  } else {
                    // If the target date has passed, hide the timercount
                    document.getElementById('timercount-{{ block.id }}').style.display = 'none';
                    document.getElementById('expired-{{ block.id }}').style.display = 'block';
                  }
                }

                // Initial call to start the timercount
                updatetimercount();
              </script>
            {%- when 'buttons' -%}
              <div
                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.x_countdown.name",
  "tag": "section",
  "limit": 1,
  "class": "section section--countdown",
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.x_countdown.settings.image_mobile.label"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.x_countdown.settings.image_desktop.label"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "A Shopify-hosted video on mobile"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "A Shopify-hosted video on desktop"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner link"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.x_countdown.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.x_countdown.settings.image_height.options__1.label"
        },
        {
          "value": "xsmall",
          "label": "Extra Small"
        },
        {
          "value": "small",
          "label": "t:sections.x_countdown.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.x_countdown.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.x_countdown.settings.image_height.options__4.label"
        }
      ],
      "default": "xsmall",
      "label": "t:sections.x_countdown.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.x_countdown.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.x_countdown.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": false,
      "label": "t:sections.x_countdown.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.x_countdown.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.x_countdown.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.x_countdown.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.x_countdown.settings.desktop_content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.x_countdown.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.x_countdown.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.x_countdown.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.x_countdown.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.x_countdown.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": false,
      "label": "t:sections.x_countdown.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.x_countdown.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.x_countdown.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "timer",
      "name": "Timer",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "date",
          "default": "2026-12-31",
          "label": "t:sections.x_countdown.settings.date.label",
          "info": "Format: yyyy-mm-dd (Save after every change to take effect)"
        },
        {
          "type": "select",
          "id": "number_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.x_countdown.settings.number_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.x_countdown.settings.number_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.x_countdown.settings.number_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.x_countdown.settings.number_size.label"
        },
        {
          "type": "checkbox",
          "id": "head_font",
          "label": "Use Heading Fonts",
          "default": false
        },
        {
          "type": "color",
          "id": "timer_color",
          "label": "timercount Color",
          "default": "#212121"
        },
        {
          "type": "color",
          "id": "timer_color_bg",
          "label": "timer Background Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "tm_bg_opacity",
          "min": 0,
          "max": 1,
          "step": 0.1,
          "unit": "lm",
          "label": "Timer Background Opacity",
          "default": 0.3
        },
        {
          "type": "richtext",
          "id": "message",
          "default": "<p>Sale is end!</p>",
          "label": "t:sections.x_countdown.settings.message.label",
          "info": "t:sections.x_countdown.settings.message.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.x_countdown.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "t:sections.x_countdown.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.x_countdown.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.x_countdown.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.x_countdown.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.x_countdown.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.x_countdown.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "t:sections.x_countdown.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.x_countdown.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.x_countdown.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.x_countdown.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "t:sections.x_countdown.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.x_countdown.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.x_countdown.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.x_countdown.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.x_countdown.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "timer"
        }
      ]
    }
  ]
}
{% endschema %}
